body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to bottom right,
    rgba(56, 141, 225, 0.599),
    rgba(255, 0, 123, 0.472)
  );
  height: auto;
  width: 100%;
}

.container {
  width: 80%;
  margin-left: 120px;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button {
  background-color: #5cb85c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* margin-bottom: 5px; */
}

button:hover {
  background-color: #2f632f;
  transition: all 0.25s ease;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.overlay {
  display: none;
  /* position: fixed; */
  width: 50%;
  height: 500%;
  background-color: rgba(0, 0, 0, 0.5);
}

.ticks {
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 12px; */
}
.common {
  font-family: Arial, sans-serif;
  font-weight: 200;
  color: #321818a4;
}
.common p {
  font-weight: 700;
}
.common input {
  width: 15px;
  margin-left: 10px;
}
.popup {
  display: none;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 4px;
  width: 300px;
  transition: all 1s ease-in-out;
}

#popup-container {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.popup-content {
  max-width: 300px;
  /* margin: 0 auto; */
}

.ticks {
  /* margin-bottom: 10px; */
  display: flex;
  gap: 10rem;
}

.ticks div {
  /* display: inline-block; */
  /* margin-bottom: 10px; */
  display: flex;
  width: 100%;
  align-items: center;
}

.parent-popup {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
